<% content_for :title do %>
  New Incident
<% end %>

<% content_for :secondary_action do %>
  <a href="<%= root_path %>" class="button back">
    <i class="fa fa-chevron-left"></i>
  </a>
<% end %>

<div class="container">
  <%= form_for @incident do |f| %>
    <% if @incident.errors.present? %>
      <div class="errors">
        <p>Please correct the following errors:</p>
        <ul>
          <% @incident.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    
    <div class="field">
      <%= f.label :category, 'Incident Type' %>
      <%= f.select :category, options_for_select({'Collision' => 'collision', 'Near Collision' => 'near_collision', 'Hazard' => 'hazard' }, f.object.category) %>
    </div>
    
    <div class="field">
      <%= f.label :mode, 'Transporation Mode' %>
      <%= f.select :mode, options_for_select({'Walking' => 'walking', 'Running' => 'running', 'Cycling' => 'cycling'}, f.object.mode) %>
    </div>
    
    <div class="field">
      <%= f.label :time, 'Time of Day' %>
      <%= f.select :time, options_for_select({'Morning' => 'morning', 'Afternoon' => 'afternoon', 'Evening' => 'evening', 'Night' => 'night'}, f.object.time) %>
    </div>
    
    <div class="field">
      <%= f.label :weather, 'Weather Conditions' %>
      <%= f.select :weather, options_for_select({'Sunny' => 'sunny', 'Cloudy' => 'cloudy', 'Precipitating' => 'precipitating'}, f.object.weather) %>
    </div>
    
    <div class="field">
      <label>Location</label>
      <div id="draggable">
      
      </div>
    </div>
  
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    
    <div class="actions">
      <%= f.submit 'Save', class: 'button' %>
    </div>
  <% end %>
</div>